.archive-box {
    display: flex;
    flex-wrap: wrap;         
    justify-content: center;
    align-items: flex-start; 
    gap: 20px;           
    padding: 20px;       
    margin: 0 auto;     
    max-width: 1200px;       
  }
  
  .note-card {
    background-color: #f9f9f9;  
    padding: 15px;
    width: 290px;            
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;       
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .note-actions {
    display: flex;
    justify-content: flex-start; 
    align-items: center;       

  }
  
  .icon-hidden {
    color: #555;              
    transition: color 0.3s;
  }
  
  .icon-hidden:hover {
    color: #000;                
  }